<section id="banner" >
    <div class="banner-container d-flex justify-content-center align-items-center">
      <div class="banner-content">
        <h1 class="font-weight-bolder mb-5">লক্ষ্যই হোক বিশ্বভ্রমন</h1>
        <!-- <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label" class="form-label font-weight-bolder"><h2>User Name</h2></label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label" class="form-label font-weight-bolder"><h2>Password</h2></label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1" style="margin-right: 250px;">Check me out</label>
            <a href="" style="text-decoration: none; color: red; font-weight: 400;">Forgot Password</a>
          </div>
          <button mat-raised-button color="primary">Log in</button>
          <button mat-raised-button color="warn" style="margin-left: 10px;">Sign Up</button>
        </form> -->
       
      </div>
      
    </div>
  </section>
  <!-- end banner -->


