
<!-- start features -->
<section id="features" class="text-center my-4">
    <div class="section-title pb-3">
        <h1 class="text-center" style="color: blueviolet;">Meet Us</h1>
    </div>
    <div class="row mt-3">
        <div class="col-md-4 d-block d-md-flex">
            <div class="features-col">
                <img class="img-fluid rounded-circle" src="assets/image/Photo/sir.jpg" alt="sir">
                <h2>Admin</h2>
                <h2>Muhammad Emran Hossain</h2>
                <p>" Our Main Goal Is To Make Your Travel More Beautiful And Safe "</p>
            </div>
        </div>
        <div class="col-md-4 d-block d-md-flex">
            <div class="features-col ">
                <img class="img-fluid rounded-circle" src="assets/image/Photo/consult.jpg" alt="">
                <h2>CEO</h2>
                <h2>Moshaidul Islam</h2>
                <p>" We Are Always Ready To Be Your Travel Partner At Lowest Budget In Bangladesh "</p>
            </div>
        </div>
        <div class="col-md-4 d-block d-md-flex">
            <div class="features-col ">
                <img class="img-fluid rounded-circle" src="assets/image/Photo/madum.png" alt="">
                <h2>Admin</h2>
                <h2>Shanaj Parvin</h2>
                <p>" Our Main Objective Is Provide Maximum Service To Our Guests Within Their Budget "</p>
            </div>
        </div>
    </div>
</section>
<!-- end features -->
