<mat-tab-group>
    <mat-tab label="Student Package">
      <ng-template matTabContent>
        <app-student-package></app-student-package>
      </ng-template>
    </mat-tab>
    <mat-tab label="Relax Package" class="relax-package">
      <ng-template matTabContent>
        <app-relax-package></app-relax-package>
      </ng-template>
    </mat-tab>
    <mat-tab label="Foreign Package">
      <ng-template matTabContent>
        <app-foreign-package></app-foreign-package>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
