.mat-stepper-horizontal {
    margin-top: 8px;
  }

  .mat-mdc-form-field {
    margin-top: 16px;
  }


  .custom-container {
    background-color: #615757; /* Set your desired background color */
    padding: 20px; /* Adjust the padding as needed */
    border-radius: 8px; /* Optional: Add border-radius for rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add box shadow for a subtle effect */
  }

  /* Style adjustments for smaller input fields */
  .small-input {
    width: 150px; /* Adjust the width as needed */
  }

  .btn-margin {
    margin-left: 10px; /* Adjust the margin value as needed */
  }
