<div class="container ml-1">
    <div class="row ml-2">
        <div class="col-md-8">
            <section id="gallary"  class="ml-3">
                <div id="carouselExampleInterval" class="carousel slide " data-bs-ride="carousel">
                    <div class="carousel-inner">

                        <div class="carousel-item active" data-bs-interval="500">
                            <img src="assets/image/best/1.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" data-bs-interval="500">
                            <img src="assets/image/best/2.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" data-bs-interval="500">
                            <img src="assets/image/best/4.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" data-bs-interval="500">
                            <img src="assets/image/best/5.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </section >
        </div>
        <div class="col-md-3 mx-auto mt-3 d-flex flex-column align-items-center" id="userform">
            <div>
              <div class="mt-5">
                <div class="mt-5">
                  <div class="mt-5">
                    <button mat-raised-button color="primary" routerLink="/login" routerLinkActive="active-link">Log in</button>
                    <button mat-raised-button color="warn" style="margin-top: 10px;" routerLink="/register" routerLinkActive="active-link">Sign Up</button>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <!-- <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label" class="form-label font-weight-bolder"><h2>User Name</h2></label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label" class="form-label font-weight-bolder"><h2>Password</h2></label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1" style="margin-right: 250px;">Check me out</label>
            <a href="" style="text-decoration: none; color: red; font-weight: 400;">Forgot Password</a>
          </div> -->


    </div>

  </div>
