<div class="row">
    <div class="col-md-11">
        <div class="home2">
            <h1 class="wellcome">Welcome to Shondhi Travel</h1>
        </div>
    </div>

    <div class="col-md-1 ml-5">
        <div class="d-flex align-items-center">
            <mat-icon matSize="48px">exit_to_app</mat-icon>
            <button mat-raised-button color="accent" (click)="openLogoutConfirmationDialog()">Log Out</button>
        </div>
    </div>
    
</div>





<app-carousel></app-carousel>
<app-package></app-package>
<app-meet-uss></app-meet-uss>
<app-review></app-review>
<app-contact></app-contact>