

<section id="review">
    <div class="section-title">
        <h1 class="text-center my-2" style="color: blueviolet;"><b>Review for Sondhi Travel</b></h1>
    </div>
    <div class="row d-flex mx-5">

        <div class="col-md-4 m-md-3 p-2 bg-light">
            <blockquote>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores mollitia architecto quae
                    distinctio similique nulla natus molestias, at aut totam libero eligendi assumenda dolorem
                    reprehenderit reiciendis facere culpa ex tempore sit ipsa modi excepturi quia minima maxime.
                    De
                </p>
                <footer class="blockquote-footer">
                    commented by <cite>Sabbir Hasan</cite>
                </footer>
                <img class="img-fluid border rounded-circle" style="width: 250px;" src="assets/image/Photo/sabbir.jpg" alt=""><br>

            </blockquote>
        </div>
        <div class="col-md-3 m-md-3 p-2 bg-light">
            <blockquote>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores mollitia architecto quae
                    distinctio similique nulla natus molestias, at aut totam libero eligendi assumenda dolorem
                    reprehenderit reiciendis facere culpa ex tempore sit ipsa modi excepturi quia minima maxime.
                    De
                </p>
                <footer class="blockquote-footer">
                    commented by <cite>Saiyadatun Tumpa</cite>
                </footer>
                <img class="img-fluid border rounded-circle" style="width: 250px;" src="assets/image/Photo/tumpa.jpg" alt=""><br>

            </blockquote>
        </div>

        <div class="col-md-4 m-md-3 p-2 bg-light">
            <blockquote>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores mollitia architecto quae
                    distinctio similique nulla natus molestias, at aut totam libero eligendi assumenda dolorem
                    reprehenderit reiciendis facere culpa ex tempore sit ipsa modi excepturi quia minima maxime.
                    De
                </p>
                <footer class="blockquote-footer">
                    commented by <cite>Masud Rana</cite>
                </footer>
                <img class="img-fluid border rounded-circle" style="width: 250px;" src="assets/image/Photo/rakib.jpg" alt=""><br>

            </blockquote>
        </div>
    </div>
</section>
